image: python:3.10-bookworm

test:
  script:
  - apt-get update
  - apt-get install --assume-yes wine
  - pip install -r requirements.txt
  - pip install coverage
  - cd src
  - coverage run --source=resipy test.py
  - coverage report --include=resipy/Project.py,resipy/Survey.py,resipy/meshTools,resipy/DCA.py,resipy/protocols.py
  
pages:
  script:
  - apt-get update
  - apt-get install --assume-yes wine pandoc libxcb-xinerama0
  - pip install -r requirements.txt
  - pip install setuptools==59.6.0
  - pip install sphinx numpydoc sphinx_rtd_theme nbshinx pandoc
  - pip install SALib
  - ls
  - cd doc
  - make html
  - cd ..
  - mv doc/_build/html/ public/
  - ls public
  artifacts:
    paths:
    - public
  only:
  - stable
