numpy<2.0.0
matplotlib
pandas
scipy
requests
chardet
psutil
pyvista==0.42.3
pyvistaqt==0.11.0
# PyQt6 # not compatible for now
PyQt5
# pyinstaller==6.5 # for now this works better than other version on Windows 11
vtk
